$red: #f6605c
$green: #25bc87
$off-white: #f6f6f6
$dark-gray: #727272
$gray: #cfcece
$shadow: 5px 5px 10px rgba(000,000,000,0.1)

html, body
	margin: 0
	padding: 0
	font-family: "Open Sans"
	background-color: $red

.outer-container, .options, .timer, .duration-time, .break-time, .session-length
	display: flex
	align-items: center
	justify-content: center

.title-screen, .clock, .advance, .type, .time-toggle
	text-align: center

.outer-container
	width: 100%
	height: 100vh

.inner-container
	background-color: $off-white
	border-radius: 20px
	box-shadow: $shadow
	color: $red
	height: 530px
	width: 298px

.title-screen
	h2
		font-size: 12px
		letter-spacing: 1px
		font-weight: bold
		text-transform: uppercase

.clock
	margin: 20px
	margin-top: 60px

.advance
	margin: 20px 35px

.button
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 1px
	padding: 8px 25px
	background-color: $red
	color: white
	border-radius: 20px
	border: 1px solid $red

.options
	margin: 10px 0

.timer
	width: 200px
	height: 200px
	border-radius: 50%
	margin: auto
	margin-bottom: 20px
	border: 3px solid $gray
	h2
		margin: 0
		font-family: "Roboto", sans-serif
		font-size: 50px

.advance:hover, .start:hover, .fas:hover
	cursor: pointer

.fas
	margin: 0 25px
	font-size: 16px

.sessions
	background-color: $gray
	border-radius: 50%
	width: 10px
	height: 10px
	margin: 0 4px

h5 
	font-size: 12px

.session-start
	display: none

.finish
	display: none

.settings
	margin: 30px

.settings h4
	color: $dark-gray
	text-transform: uppercase
	letter-spacing: 0.5px
	font-weight: bold
	font-size: 12px

.sessions-container
	display: flex
	justify-content: center

.fa-caret-left, .fa-caret-right
	font-size: 13px
	&:hover
		cursor: pointer

.fa-caret-left
	margin-right: 30px

.fa-caret-right
	margin-left: 30px

.break-time .fa-caret-right, .session-length .fa-caret-right
	margin-left: 34px

.break-time .fa-caret-left, .session-length .fa-caret-left
	margin-right: 34px

.active
	background-color: $red