$red: #f6605c
$green: #25bc87
$off-white: #f6f6f6
$eggshell: #fafafa
$dark-gray: #727272
$gray: #cfcece
$shadow: 5px 5px 10px rgba(000,000,000,0.1)

html, body
	margin: 0
	padding: 0
	font-family: "Open Sans"
	background-color: $red

.outer-container, .options, .timer, .duration-time, .break-time, .session-length, .next-panel
	display: flex
	align-items: center
	justify-content: center

.title-screen, .advance, .time-toggle
	text-align: center

.outer-container
	width: 100%
	height: 100vh

.inner-container
	background-color: $off-white
	border-radius: 20px
	box-shadow: $shadow
	color: $red
	height: 530px
	width: 298px

.title-screen
	h2
		font-size: 12px
		letter-spacing: 1px
		font-weight: bold
		text-transform: uppercase
		position: absolute
		margin-left: auto
		margin-right: auto
		left: 0
		right: 0

.advance
	margin: 25px 35px

.button
	text-transform: uppercase
	font-weight: 600
	letter-spacing: 1px
	padding: 8px 25px
	background-color: $red
	color: white
	border-radius: 20px
	border: 1px solid $red

.options
	margin: 10px 0

.next-panel
	width: 100%
	height: 100%
	display: none

.timer
	margin-bottom: 20px
	h2
		margin: 0
		font-family: "Roboto", sans-serif
		font-size: 50px
		position: absolute
		z-index: 100000

.advance:hover, .start:hover, .fa-undo:hover, .fa-times:hover
	cursor: pointer

.fa-undo, .fa-times
	margin: 0 25px
	font-size: 16px

.sessions
	background-color: $gray
	border-radius: 50%
	width: 10px
	height: 10px
	margin: 0 4px

h5 
	font-size: 12px

.settings, .topic
	margin: 30px

.settings h4
	color: $dark-gray
	text-transform: uppercase
	letter-spacing: 0.5px
	font-weight: bold
	font-size: 12px

.sessions-container
	display: flex
	justify-content: center

.fa-caret-left, .fa-caret-right
	font-size: 13px
	&:hover
		cursor: pointer

.fa-caret-left
	margin-right: 30px

.fa-caret-right
	margin-left: 30px

.break-time .fa-caret-right, .session-length .fa-caret-right
	margin-left: 34px

.break-time .fa-caret-left, .session-length .fa-caret-left
	margin-right: 34px

.active
	background-color: $red

.task-input 
	width: 100%
	margin: 20px 0 10px
	border: 1px solid #d5d5d4
	padding: 10px 0px
	font-weight: bold
	text-align: center
	background-color: $eggshell
	color: $dark-gray
	border-radius: 4px
	&:focus
		outline: none

.inner-container .subtitle
	color: $red 
	text-transform: initial
	font-size: 13px
	font-weight: bold

.row
	margin-top: 4px

.finish
	text-align: center
	display: flex
	align-items: center
	height: 100%
	margin: 0 20px
	display: none
	.finish-container
		margin: auto
	h3
		margin: 0
		font-weight: bold
	h4
		color: $dark-gray
		letter-spacing: 0.5px
		font-weight: bold
		font-size: 14px
		margin-top: 15px
		line-height: 18px

.fa-award
	font-size: 125px
	margin-bottom: 25px

.sp1
	position: relative
	width: 200px
	height: 200px
	overflow: hidden
	background-color: $gray
	border-radius: 50%
	z-index: 1

.sp:before, .sp:after
	content: ''
	position: absolute
	height: 100%
	width: 50%
	background-color: $red

.sp1:after
	width: 94%
	height: 94%
	margin: 3%
	border-radius: 50%
	background-color: $off-white
	z-index: 6

.sp1:before
	background-color: inherit
	z-index: 5

.sp2:before
	z-index: 4
	-webkit-transform-origin: 100% 50%
	-ms-transform-origin: 100% 50%
	transform-origin: 100% 50%

.sp2:after
	opacity: 0
	right: 0
	z-index: 6
	-webkit-transform-origin: 0 50%
	-ms-transform-origin: 0 50%
	transform-origin: 0 50%

.paused
	animation-play-state: paused

@keyframes spin1
	0%
		transform: rotate(0deg)
	50%
		transform: rotate(180deg)
	100%
		transform: rotate(180deg)

@-webkit-keyframes spin2
	0%
		-webkit-transform: rotate(0deg)
		opacity: 0
	49.99%
		opacity: 0
	50%
		-webkit-transform: rotate(0deg)
		opacity: 1
	100%
		-webkit-transform: rotate(180deg)
		opacity: 1

@-moz-keyframes spin2
	0%
		-webkit-transform: rotate(0deg)
		opacity: 0
	49.99%
		opacity: 0
	50%
		-webkit-transform: rotate(0deg)
		opacity: 1
	100%
		-webkit-transform: rotate(180deg)
		opacity: 1

@-ms-keyframes spin2
	0%
		-webkit-transform: rotate(0deg)
		opacity: 0
	49.99%
		opacity: 0
	50%
		-webkit-transform: rotate(0deg)
		opacity: 1
	100%
		-webkit-transform: rotate(180deg)
		opacity: 1

@keyframes spin2
	0%
		transform: rotate(0deg)
		opacity: 0
	49.99%
		opacity: 0
	50%
		transform: rotate(0deg)
		opacity: 1
	100%
		transform: rotate(180deg)
		opacity: 1

@media only screen and (min-device-width : 375px) and (max-device-width : 812px)
	html, body
		background-color: $off-white
	.inner-container
		border-radius: 0
		height: 100vh
		width: 100%
		.subtitle
			font-size: 16px
	.title-screen
		h2
			font-size: 16px
			margin-top: 30px
	.settings
		margin: 30px 50px 50px 50px
		h4
			font-size: 15px
	.task-input
		font-size: 16px
		margin-top: 40px
	.button
		padding: 9px 25px
	h5
		font-size: 14px
	.timer
		h2
			font-size: 70px
	.sessions
		width: 15px
		height: 15px
		margin: 5px
	.fa-undo, .fa-times
		font-size: 20px
	.sp1
		width: 270px
		height: 270px
	.finish
		h3
			font-size: 30px
		h4
			font-size: 18px
			line-height: 25px